@charset "UTF-8";
/* ============================================================
   行数缩略
============================================================ */
.pl-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.pl-line1 {
  word-break: nowrap;
  -webkit-line-clamp: 1;
}

.pl-line2 {
  word-break: break-all;
  -webkit-line-clamp: 2;
}

.pl-line3 {
  word-break: break-all;
  -webkit-line-clamp: 3;
}

.pl-line4 {
  word-break: break-all;
  -webkit-line-clamp: 4;
}

/* ============================================================
   旋转
============================================================ */
.ui-rotate45 {
  transform: rotate(-45deg);
}

/* ============================================================
   修改鼠标样式
 ============================================================ */
.pl-pointer {
  cursor: pointer;
}

/* ============================================================
   文本不可被选中
 ============================================================ */
.pl-unselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ============================================================
   select框美化
 ============================================================ */
.select-box {
  margin-top: 0px;
  outline: none;
  border: 1px solid #BBBBBB;
  border-radius: 4px;
  position: relative;
}

.select-item {
  height: 3rem;
  -webkit-appearance: none;
  border: none;
  font-size: 1.4rem;
  padding: 0px 10px;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #FFFFFF;
  color: #333333;
  border-radius: 4px;
}

/* 通用ui */
html,
body {
  -webkit-text-size-adjust: none;
  width: 100%;
  font-family: Roboto-Regular, -apple-system, PingFang SC, Hiragino Sans GB, Arial, Microsoft YaHei, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.4;
  background-color: #18161B;
  height: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

input,
textarea,
select {
  -webkit-appearance: none;
  /*屏蔽阴影*/
  font-size: 100%;
  font-family: inherit;
}

a,
button,
div {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  border-radius: 4px;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font-size: 18px;
  outline: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button:disabled {
  opacity: .6;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
dt,
form {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  list-style-type: none;
}

/*image with no-border*/
img {
  font-size: 0;
  outline: 0;
  border: 0;
}

/* 应用结构 */
#app .mint-cell .mint-cell-wrapper {
  height: 40px;
}

#app .mint-cell .mint-cell-wrapper ::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 32px;
  line-height: 60px;
}

#app .mint-cell .mint-cell-wrapper .mint-cell-value .mint-field-core {
  line-height: 28px;
  font-size: 28px;
}

#app .mint-cell .mint-cell-wrapper .mint-cell-value .mintui-field-error {
  font-size: 40px;
}

#app .mint-cell .mint-cell-title {
  width: 140px;
}

#app .mint-cell .mint-cell-title .mint-cell-text {
  font-size: 28px;
}

#app .mint-loadmore-top {
  margin-top: -60px;
}

#app .mint-loadmore-top .mint-loadmore-text {
  font-weight: 600;
  font-size: 28px;
  color: #999999;
}

#app .mint-loadmore-bottom .mint-loadmore-text {
  font-size: 28px;
}

#appBody .mint-toast {
  width: 640px;
}

#appBody .mint-toast-text {
  font-size: 28px;
}

#appBody .mint-indicator-mask {
  z-index: 49;
}

#appBody .mint-indicator .mint-indicator-wrapper {
  width: 240px;
  z-index: 50;
}

#appBody .mint-indicator .mint-indicator-wrapper .mint-indicator-text {
  font-size: 28px;
}

#appBody .mint-toast.is-placebottom, #appBody .mint-toast.is-placemiddle {
  transform: translate(0, 0);
  margin-left: -288px;
}

#appBody .mint-msgbox {
  width: 80%;
  font-size: 28px;
  border-radius: 16px;
}

#appBody .mint-msgbox .mint-msgbox-header {
  height: 70px;
  line-height: 70px;
}

#appBody .mint-msgbox .mint-msgbox-header .mint-msgbox-title {
  font-size: 36px;
}

#appBody .mint-msgbox .mint-msgbox-content {
  padding: 30px;
}

#appBody .mint-msgbox .mint-msgbox-content .mint-msgbox-message {
  color: #272525;
}

#appBody .mint-msgbox .mint-msgbox-btns {
  height: 80px;
  line-height: 80px;
}

#appBody .mint-msgbox .mint-msgbox-btns .mint-msgbox-btn {
  line-height: 80px;
  font-size: 30px;
}

#appBody .mint-msgbox .mint-msgbox-btns .mint-msgbox-confirm {
  color: #000;
  font-weight: 500;
}

#appBody .picker-items .picker-item {
  font-size: 28px;
}

/* 第三方插件 */
.video-player, .vjs_video_3-dimensions {
  width: 100% !important;
  height: 100% !important;
}

.video-js .vjs-play-control {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  background: rgba(255, 0, 0, 0.8);
}

.video-js .vjs-control-bar {
  height: 0;
}

.video-js .vjs-volume-panel, .video-js .vjs-mute-control, .video-js .vjs-volume-control, .video-js .vjs-progress-control, .video-js .vjs-live-control, .video-js .vjs-playback-rate, .video-js .vjs-chapters-button, .video-js .vjs-fullscreen-control {
  display: none;
}

.vjs-button > .vjs-icon-placeholder:before {
  font-size: 2.8em;
}
